BUNDLE_AUTO_INSTALL: "true"

{{ if .tds -}}
BUNDLE_HTTPS://RUBYGEMS__PKG__GITHUB__COM/TRIPLEDOTSTUDIOS/: "eiskrenkov:{{ onepasswordRead "op://4hukfa3qyxei7v47xvb7venmlq/xegt5kpqwi3jbcoxnnyv3zohse/credential" }}"
{{ end -}}
